<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"> 
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Online Store</title>
</head>
<body>
    <div id="app" class="head">
        <header>
            <h1 v-text="sitename"></h1>
            <div class="cart bar-right">
                <button type="button" class="checkout"
                v-on:click="showCheckout">
                <span>{{cartItemCount}} <i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout</span>
                </button>
            </div>
        </header>
        <main>
            <div class="row-product">
                <div v-if ="showProduct">
                    <div v-for="product in products">
                    <div class="product">
                            <figure>
                                <img v-bind:src="product.image">
                            </figure> 
                        <div class="col col-expand">
                            <h1 v-text="product.title"></h1>
                            <p v-html="product.description"></p>
                            <p class="price">{{ product.price | formatPrice }}</p>
                            <button class="addButton"
                                    v-on:click="addToCart(product)"
                                    v-if="canAddToCart(product)"
                            ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            <button disabled class="addButtonDisabled"
                            v-else
                            ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            <span class="inventory-message"
                            v-if="product.availableInventory - cartCount(product.id) === 0">All Out!
                            </span>
                            <span class="inventory-message"
                            v-else-if="product.availableInventory - cartCount(product.id) < 5">
                            Only {{product.availableInventory - cartCount(product.id)}} left!
                            </span>
                            <span class="inventory-message"
                            v-else>Buy Now!
                            </span>
                            <div class="rating">
                                <span v-bind:class="{'rating-active': checkRating(n, myProduct)}"
                                      v-for="n in 5">☆</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div v-else>
                    <h2>Enter Your Information</h1>
                    <div class="order">
                        <div class="firstN">
                            <strong>First Name:</strong>
                            <input v-model.trim.lazy="order.firstName"
                            class="form-control"
                            maxlength="70">
                        </div>
                        <div class="lastN">
                            <strong>Last Name:</strong>
                            <input v-model.trim.lazy="order.lastName"
                            class="form-control"
                            maxlength="70">
                        </div>
                        <div class="address">
                            <div class="address">
                                <strong>Address:</strong>
                                <input v-model.trim.lazy="order.address"
                                class="form-control"
                                id="address"
                                maxlength="70">
                            </div>
                        </div>
                        <div class="city">
                            <strong>City:</strong>
                            <input v-model.trim.lazy="order.city"
                            class="form-control"
                            id="city"
                            maxlength="70">
                        </div>
                        <div class="state">
                            <strong>State:</strong>
                            <select v-model="order.state"
                            class="form-control"
                            id="select">
                                <option disabled value="">State:</option>
                                <option v-for="(state, key) in states"
                                v-bind:value="state">{{key}}</option>
                            </select>
                        </div>
                        <div class="zip">
                            <strong>ZIP / Postal Code:</strong>
                            <input v-model.number.trim.lazy=order.zip
                            class="form-control"
                            maxlength="70">
                        </div>
                        <div class="gift">
                            <input type="checkbox"
                            value="true"
                            id="gift"
                            v-bind:true-value="order.sendGift"
                            v-bind:false-value="order.dontSendGift"
                            v-model="order.gift">
                            <label for="gift">Ship As Gift?</label>
                        </div>
                        <div class="method">
                            <input type="radio"
                            value="Home"
                            id="home"
                            v-bind:value="order.home"
                            v-model="order.method">
                            <label for="home">Home</label>

                            <input type="radio"
                            value="Business"
                            id="business"
                            v-bind:value="order.business"
                            v-model="order.method">
                            <label for="business">Business</label>
                        </div>
                        <div class="orderButton">
                            <button class="addButton" type="submit"
                            v-on:click="submitForm">Place Order</button>
                        </div>
                        <div class="check">
                            <pre>
                                First Name: {{order.firstName}}
                                Last Name: {{order.lastName}}
                                Addrress: {{order.address}}
                                City: {{order.city}}
                                State: {{order.state}}
                                ZIP / Postal Code: {{order.zip}}
                                Gift: {{order.gift}}
                                Method: {{order.method}}
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </main>

<script src="app.js"></script>
</body>
</html>