<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous"> 
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <title>Online Store</title>
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <div class="cart bar-right">
                <button type="button" class="checkout"
                v-on:click="showCheckout">
                <span>{{cartItemCount}} <i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout</span>
                </button>
            </div>
        </header>
        <main>
            <div class="row-product">
                <div class="col">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure> 
                </div>
                <div class="col col-expand">
                    <h1 v-text="product.title"></h1>
                    <p v-html="product.description"></p>
                    <p class="price">{{ product.price | formatPrice }}</p>
                    <button class="addButton"
                      v-on:click="addToCart"
                      v-if="canAddToCart"
                    ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                    <button disabled class="addButtonDisabled"
                    v-else
                    ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                </div>
            </div>
        </main>

        <main>
            <div class="modal-order">
                <div v-if ="showProduct">
                </div>

                <div v-else>
                    <strong>First Name</strong>
                    <input v-model="order.firstName">
                    <strong>Last Name</strong>
                    <input v-model="order.lastName">

                    <div>
                        <pre>
                            First Name: {{order.firstName}}
                            Last Name: {{order.lastName}}
                        </pre>
                    </div>
                </div>
            </div>
        </main>

<script src="app.js"></script>
</body>
</html>