.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
header {
    background-color: rgb(209, 255, 240);
    height: 5em;
    position: relative;
}
header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 20px;
}
header .checkout {
    margin-right: 20px;
    margin-top: 15px;
    background-color: rgb(23, 255, 62);
    width: 140px;
}
p {
    font-size: 22px;
}
h2 {
    text-align: center;
}
.col {
    margin: 10px;
}
img {
    max-width: 200px;
    height: auto;
}
.bar-right {
    text-align: right;
}
pre {
    white-space: pre-line;
}
button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.inventory-message {
    position: absolute;
    font-size: 21px;
}
.addButton, .addButtonDisabled, .checkout {
    color: #ffffff;
    background-color: rgb(60, 248, 160);
    outline: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.addButtonDisabled {
    background-color: rgb(99, 145, 123);
}
.addButton:hover, .checkout:hover {
    opacity: 0.5;
}
.order {
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "firstN lastN"
    "address address"
    "city city"
    "state zip"
    "gift method"
    "orderButton orderButton"
    "check check";
}
@media(max-width: 1000px) {
    .order {
        grid-template-areas: 
        "firstN"
        "lastN"
        "address"
        "city"
        "state"
        "zip"
        "gift"
        "method"
        "orderButton"
        "check";
    }
}
.firstN {
    grid-area: firstN;
}
.lastN {
    grid-area: lastN;
}
.address {
    grid-area: address;
}
.city {
    grid-area: city;
}
.state {
    grid-area: state;
}
.zip {
    grid-area: zip;
}
.check {
    grid-area: check;
}
.gift {
    grid-area: gift;
}
.method {
    grid-area: method;
}
.orderButton {
    grid-area: orderButton;
}
.form-control {
    width: 450px;
}
#address, #city {
    width: 100%;
}
#select {
    width: 100px;
}
pre {
    text-align: left;
}
.rating {
    margin-left: 100px;
    font-size: 24px;
    display: inline-block;
    position: relative;
}
.rating-active:before {
    content: "\2605";
    position: absolute;
 }